<div ng-controller = 'playersController as PC'>
  <form name = 'playerForm'>
    Name: <input ng-model = 'PC.newPlayer.name' name ='name' required ng-minlength='4'/>
    J Num: <input type = 'number' ng-model = 'PC.newPlayer.j_num' name='j_num' ng-min = '0' ng-max = '99' />
    <button ng-show = 'playerForm.$valid' ng-disabled='playerForm.$invalid' ng-click = 'PC.create()'>Create Player</button>
  </form>
  <div ng-show= 'playerForm.name.$touched' ng-messages = 'playerForm.name.$error'>
    <p ng-message="minlength">The player name is too short.</p>
    <p ng-message="required">The player name is required.</p>
  </div>
  <div ng-if= 'playerForm.j_num.$touched'ng-messages = 'playerForm.j_num.$error'>
    <p ng-message="min">The j num is too little.</p>
    <p ng-message="max">The j num is too high.</p>
    <p ng-message="required">The j num is required.</p>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Number
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = 'player in PC.players'>
        <td>
          {{player.name}}
        </td>
        <td>
          {{player.j_num}}
        </td>
        <td>
          <button ng-click = 'PC.delete(player._id)'>Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button ng-click='PC.button()'>Go to teams</button>
</div>
